//Config File
emailUsername = "discardit101@gmail.com";
emailPassword = "";
serverAddress = "smtp.gmail.com";
port = 465;
sender = "discardit101@gmail.com";
destination = "Domenico.Restuccia@glasgow.ac.uk"

subject = "Trashbot message"

messageStage1 = "Your trash is heating up"
messageStage2 = "Throw out your trash!!!"